.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    margin: auto;
    padding: 2.75rem 7.25rem;
    background-color: #23252C;
    font-family: 'Inter', sans-serif;
    color: #FFF;
    border-radius: 9px;
}

