html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  padding: 5rem 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(217deg, #ffb27a, #f6c7b8, #ffb27a);
}

ul,
ol {
  list-style: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}
